/* ==UserStyle==
@name           DynaDarkMods
@namespace      https://github.com/cannibalox/DynaDarkMods/
@version        0.1.0
@description    a dark theme & tweakd for Dynalist.io
@author         _ph / www.hpx1.com
@updateURL      https://raw.githubusercontent.com/cannibalox/DynaDarkMods/master/DynaDarkMods.user.css
==/UserStyle== */

@-moz-document domain("dynalist.io") {
:root {
	--nodelinks: #42b0dc;
}

/*==== hover and selected node ====*/
.Node-content:hover,
.Node-renderedContent:hover,
.Node-note:hover,
.Node-renderedNote:hover {
	background: rgba(0, 0, 0, .3) !important;
}
.Node-content:focus,
.Node-renderedContent:focus,
.Node-note:focus,
.Node-renderedNote:focus {
	color: rgba(255, 255, 255, .87) !important;
	background: rgba(0, 0, 0, .3) !important;
	opacity: 1;
}

/*always make breadcrumb list visible even when scrolling*/
.DocumentTools {
	position: fixed;
	top: 30px;
	z-index: 2;
}

.DocumentBreadcrumb {
	width: inherit;
	height: 1.2em;
	position: fixed;
	top: 5px;
	left: 0;
	z-index: 1;
	margin: 0;
	padding-top: 0px;
}

.is-mobile .DocumentBreadcrumb-item {
	position: relative;
	top: -1em;
}

.is-mobile .DocumentBreadcrumb-delimiter {
	position: relative;
	top: -1em;
}

.Document {
	position: fixed;
	top: 1.2em;
	height: calc(100% - 2em);
	max-width: 100% !important;
}

.is-mobile .Document {
	top: 2em;
}

/* ======resize images with #q #h tags===== */
.node-displayed-image[src$="#h"] {
	max-width: 50%;
	max-height: 50%;
}
.node-displayed-image[src$="#q"] {
	max-width: 25%;
	max-height: 25%;
}

/*===== links =========*/
.node-link {
	color: var(--nodelinks);
}
/* =========== */
.AppContainer {
	background-color: #1e2021;
}
/* font-family */
.pane-item-header,
.DocumentBreadcrumb-item,
.Node.is-currentRoot > .Node-self .Node-renderedContent,
.Node.is-currentRoot > .Node-self .Node-content,
.Node-children .Node-renderedContent,
.Node-children .Node-content {
	font-family: Armata, Whitney, Roboto Slab, Segoe UI, Roboto, "????", "????", system-ui;
	font-size: 12px;
}
/* item */
.Node-children .Node-outer .Node {
	/* 	padding: .16em 0; */
	margin-top: 0;
	border: none;
}
.Node-children .Node-outer:last-of-type {
	margin-bottom: .2em;
}
.Node-children .Node-renderedContent,
.Node-children .Node-content {
	color: rgba(255, 255, 255, .66);
	line-height: 1.4;
	/* 	to creat padding on left and right when in focus */
	width: calc(100% + .3em);
	margin-left: -.3em;
	padding-left: .3em;
	/* 	change fo fixed font size if you need */
	/* 	font-size: .9rem; */
	/* 	font-size: 14px; */
}
/* note */
.Node-noteContainer {
	margin-top: .1em;
	margin-bottom: .2em;
}
.Node-note,
.Node-renderedNote {
	color: rgba(255, 255, 255, .38);
	/* 	width: calc(100% + .36em); */
	/* 	margin-left: -.36em; */
	padding: 0 .36em;
}
/* ------------------------------------------------------------ */
/* item hover, focus, selected, and checked */
.Node-content:hover,
.Node-renderedContent:hover,
.Node-note:hover,
.Node-renderedNote:hover {
	background: rgba(255, 255, 255, .06);
}
.Node-content:focus,
.Node-renderedContent:focus,
.Node-note:focus,
.Node-renderedNote:focus {
	color: rgba(255, 255, 255, .87);
	background: rgba(255, 255, 255, .10);
	/* 	opacity: 1; */
}
.Node.is-selected {
	background: rgba(255, 255, 255, .08);
}
.CurrentLineHighlight {
	background: none;
}
.Node.is-checked .Node-checkbox,
.Node.is-checked .Node-content,
.Node.is-checked .Node-renderedContent,
.Node.is-checked .Node-note,
.Node.is-checked .Node-renderedNote {
	opacity: .3;
	color: inherit;
}
.Node.has-checkbox > .Node-self .Node-contentContainer,
.Node.has-checkbox > .Node-self .Node-noteContainer {
	width: calc(100% - 50px);
}


/* ==== */
/* pills
.node-tag {
display: inline-block;
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;
 border-top-right-radius: 12px;
 border-bottom-right-radius: 12px;
 padding-left: 7px; 
 padding-right: 7px;
 padding-bottom: 22px;
 height: 15px;
 background-color: #93580a !important;
 color: white !important;
 font-weight: bold;
 font-size:12px;
 text-decoration: none;
}
*/
/* TAGS # @ =========== */
.node-tag {
	/*color: #5bcd78;*/
	font-size: 10px;
	font-weight: 100;
	border: none;
	color: #8ce381;
	background-color: transparent !important;
	padding: 0px 8px 0px 0px;
	text-decoration: none;
	/* float: right; */
}


a[title^="Filter @"] {
	visibility: visible;
	font-size: 80%;
	color: #40be40;
}

/* Code block =========== */
.node-inline-code {
	color: #ea80ea;
	background-color: #3e667455 !important;
}

/* internal links pills =========== */
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-inline-item,
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-inline-code,
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-multiline-code {
	font-size: 0.75em;
	line-height: 11px;
	font-weight: normal;
}
.node-inline-item {
	border: 1px solid #47b4de;
	color: #72c0de;
}
.is-mediumFont .Node-noteContainer .node-inline-item {
	font-size: 0.6em;
	line-height: 12px;
}
/* code in note */
.is-mediumFont .Node-noteContainer .node-inline-code {
	font-size: 0.9em;
	line-height: 12px;
}
/* code block in note */
.is-mediumFont .Node-noteContainer .node-multiline-code {
	font-size: 0.9em;
	line-height: 18px;
}
/* internal links inline */
.is-mediumFont .Node-contentContainer .node-inline-item {
	font-size: 0.67em;
	line-height: 13px;
}
/* code inline */
.is-mediumFont .Node-contentContainer .node-inline-code {
	font-size: 0.9em;
	line-height: 1.5em;
	padding-top: 0px;
	margin: 1px;
}
/* HEADERS H1, H2, H3 =========== */
.is-heading1 .node-line {
	color: #fbfbfb;
	font-size: 20px;
}
.is-heading2 .node-line {
	color: #69aed9;
	font-size: 16px;
}
.is-heading3 .node-line {
	color: #ccc;
	font-size: 16px;
}
/* == node backlink counter ====*/
.node-backlink-counter {
	background-color: #4a69bf;
	color: #c2e6c9;
	border-radius: 1px;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 8px;
	font-weight: bold;
	height: 17px;
	line-height: 17px;
	margin-left: -18px;
	text-align: center;
	width: 14px;
	position: relative;
}
/*=== zoom icons ====*/
.node-icon {
	color: #d2d2d2;
}
	
/*===========================*/
/*=========UI============*/
.AppHeader {
	color: #a7a7a7;
	background-color: #000;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.8);
	height: 7px;
	line-height: 7px;
}
.is-desktop .AppHeader {
    height: 21px;
}
.header-sync-state {
    font-size: 12px;
}	
.AppHeader-notifications {
    font-size: 14px;
    right: 61px;
    top: 4px;
    padding: 3px 4px;
}
.AppHeader-settings {
    font-size: 14px;
    padding: 3px 4px;
    top: 4px;
    right: 33px;
}
.AppHeader-mainMenu {
    font-size: 15px;
    padding: 3px;
    right: 8px;
    top: 3px;
}
.MobileHeader-mainMenuIcon,
.MobileHeader-backIcon,
.MobileHeader-option {
	font-family: "IcoMoon", sans-serif;
	font-size: 12px;
	height: 10px;
	padding: 13px;
	position: absolute;
	top: 0;
}
	
/*====== left sidebar ====================*/
.is-desktop .Pane-header, .is-desktop .popup-message-banner {
    color: #cacaca;
    background: #1e2021;
	font-weight: 900;
}
.is-desktop .LeftPaneContainer, .is-desktop .Pane {
    background-color: #1e2021;
}
.is-desktop .LeftPaneContainer-nav {
	background: #000;
	box-shadow: inset 0 0 1px 0px #000;
}
	/*----------tab hover----*/	
.is-desktop .LeftPaneContainer-navItem:hover {
    background: #2188b4;
}	
	/*----------tab active----*/	
.is-desktop .LeftPaneContainer-navItem.is-active {
    background: #1e2021;
}	
.is-desktop .LeftPaneContainer-navItem {
    background: #000;
    color: #cacaca;
}
	
/*-- leftsidebar splitter --*/
.is-desktop .LeftPaneSlidebarContainer {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	border-right: 7px solid black;
}
.LeftPaneSplitter::after {
	content: '';
	width: 0px;
	height: 100%;
	position: absolute;
	left: 3px;
	visibility: hidden;
	border-right: 0px;
}
/*====== context menu ======*/
.ContextMenu {
	color: #d3d3d3;
	background: #181818;
	border: 1px solid #294248;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.MenuGroup + .MenuGroup {
	border-top: 1px solid #22353c;
}
/*====== floating toolbar ======*/	
.DocumentTools {
    position: fixed;
    top: 8px;
    z-index: 2;
    right: 56px;
}
/* === backlinks pane ====== */
.document-backlinks-container {
	background-color: #222728;
	border-top: 2px solid #8782e2;
}
.Document-bottomSpace {
	min-height: 30px;
}
.search-ui-summary {
	margin: 8px 0;
	margin-bottom: 10px;
	font-size: 14px;
	color: #9f82e2;
}
/*===== status bar ===== */
.status-bar {
    bottom: -10px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    left: 0;
    line-height: 16px;
    max-height: 20px;
    padding: 0px 40px;
    position: absolute;
    user-select: none;
    width: 100%;
    z-index: 2;
	background-color: #000;
	border-top: 0px solid #444;
	color: #a7a7a7;
}
}
