/* ==UserStyle==
@name           DynaDarkMods
@namespace      https://github.com/cannibalox/DynaDarkMods/
@version        0.6.0
@description    a dark theme & tweakd for Dynalist.io
@author         _ph / www.hpx1.com
@updateURL      https://raw.githubusercontent.com/cannibalox/DynaDarkMods/master/DynaDarkMods.user.css
==/UserStyle== */

@-moz-document domain("dynalist.io") {
:root {
	--nodelinks: #42b0dc;
	--bg-color: #1e2021;
	--bg-alt: #000000;
	--text-accent:#21b8e2;
	--text-faint:#383838;
	--isactive: #68cd88;
	--tags-color: #c0ce26;
	--text-muted: #777777;
}
/* =====import fonts====== */	
/* latin-ext */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v11/gokvH63_HV5jQ-ENnTR2c2s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v11/gokvH63_HV5jQ-ENkzR2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cairo Regular'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v7/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cairo Regular'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v7/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cairo Regular'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v7/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* =========== */
	
body {
    font-family: Armata, Whitney, Roboto Slab, Segoe UI, Roboto, system-ui,"Microsoft YaHei", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    font-size: 12px;
}
/* =========== */
.AppContainer {
	background-color: var(--bg-color);
}
/* font-family */
.pane-item-header,
.DocumentBreadcrumb-item,
.Node.is-currentRoot > .Node-self .Node-renderedContent,
.Node.is-currentRoot > .Node-self .Node-content,
.Node-children .Node-renderedContent,
.Node-children .Node-content {
	font-family: Armata, Whitney, Roboto Slab, Segoe UI, Roboto, system-ui;
	font-size: 12px;
}
/*=== top alignment, default top:1px ====*/	
.normal-view {
    height: 100%;
    position: relative;
    top: 0px;
    width: 100%;
}
	
.is-desktop .Document {
    border-radius: 10px;
    margin: -40px auto 50px auto;
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 20px);
}
/*==== hover and selected node ====*/
.Node-content:hover,
.Node-renderedContent:hover,
.Node-note:hover,
.Node-renderedNote:hover {
	background: rgba(0, 0, 0, .3) !important;
}
.Node-content:focus,
.Node-renderedContent:focus,
.Node-note:focus,
.Node-renderedNote:focus {
	color: rgba(255, 255, 255, .87) !important;
	background: rgba(0, 0, 0, .3) !important;
	opacity: 1;
}
/*==== breadcrumb alignment====*/
.DocumentBreadcrumb-item {
    cursor: pointer;
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 9px;
}
/* ===== breadcrumb =======*/	
/*=== sticky breadcrumb ===*/
.DocumentBreadcrumb {
	height: 3.5em;
	position: sticky;
	top: -20px;
	z-index: 100;
	border-bottom: 1px solid var(--text-faint);
	background-color:var(--bg-color);
	margin: 0 auto;
    min-height: 18px;
    padding: 18px 0 0px 0px;
    width: calc(100% - 40px);
}
/*=== floating toolbar====*/
.DocumentTools {
    position: absolute;
    top: -40px;
    right: 26px;
    z-index: 400;
}
.DocumentTools-overlay {
    background-color: rgba(30,32,33,0.7);
    box-shadow: 0 0 0px 0px #181818;
}
.DocumentTools-overlay {
    position: absolute;
    top: 0px;
    right: 2px;
    height: 26px;
    width: 70px;
    border-radius: 0px;
}
.DocumentSearch-icon:hover, .DocumentTools-filterView:hover {
	color:var(--text-accent);
	}

.DocumentSearch-icon {
    background-size: 17px;
    position: absolute;
    top: -7px;
    right: 36px;
    font-size: 15px;
}
.DocumentTools-filterView {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 18px;
}
.DocumentTools-search {
    display: none;
    position: absolute;
    top: 50px; /* 1 */
    right: 0;
}	

/* ======resize images with #q #h tags===== */
.node-displayed-image[src$="#h"] {
	max-width: 50%;
	max-height: 50%;
}
.node-displayed-image[src$="#q"] {
	max-width: 25%;
	max-height: 25%;
}

/*===== links =========*/
.node-link {
	color: var(--nodelinks);
}

/* item */
.Node-children .Node-outer .Node {
	/* 	padding: .16em 0; */
	margin-top: 0;
	border: none;
}
.Node-children .Node-outer:last-of-type {
	margin-bottom: .2em;
}
.Node-children .Node-renderedContent,
.Node-children .Node-content {
	color: rgba(255, 255, 255, .66);
	line-height: 1.4;
	/* 	to creat padding on left and right when in focus */
	width: calc(100% + .3em);
	margin-left: -.3em;
	padding-left: .3em;
	/* 	change fo fixed font size if you need */
	/* 	font-size: .9rem; */
	/* 	font-size: 14px; */
}
/* note */
.Node-noteContainer {
	margin-top: .1em;
	margin-bottom: .2em;
}
.Node-note,
.Node-renderedNote {
	color: rgba(255, 255, 255, .38);
	/* 	width: calc(100% + .36em); */
	/* 	margin-left: -.36em; */
	padding: 0 .36em;
}
/* ------------------------------------------------------------ */
/* item hover, focus, selected, and checked */
.Node-content:hover,
.Node-renderedContent:hover,
.Node-note:hover,
.Node-renderedNote:hover {
	background: rgba(255, 255, 255, .06);
}
.Node-content:focus,
.Node-renderedContent:focus,
.Node-note:focus,
.Node-renderedNote:focus {
	color: rgba(255, 255, 255, .87);
	background: rgba(255, 255, 255, .10);
	/* 	opacity: 1; */
}
.Node.is-selected {
	background: rgba(255, 255, 255, .08);
}
.CurrentLineHighlight {
	background: none;
}
.Node.is-checked .Node-checkbox,
.Node.is-checked .Node-content,
.Node.is-checked .Node-renderedContent,
.Node.is-checked .Node-note,
.Node.is-checked .Node-renderedNote {
	opacity: .3;
	color: inherit;
}
.Node.has-checkbox > .Node-self .Node-contentContainer,
.Node.has-checkbox > .Node-self .Node-noteContainer {
	width: calc(100% - 50px);
}


/* ==== */
/* pills
.node-tag {
display: inline-block;
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;
 border-top-right-radius: 12px;
 border-bottom-right-radius: 12px;
 padding-left: 7px; 
 padding-right: 7px;
 padding-bottom: 22px;
 height: 15px;
 background-color: #93580a !important;
 color: white !important;
 font-weight: bold;
 font-size:12px;
 text-decoration: none;
}
*/
/* TAGS # @ =========== */
.node-tag {
	/*color: #5bcd78;*/
	font-size: 10px;
	font-weight: 100;
	border: none;
	color: var(--tags-color);
	background-color: transparent !important;
	padding: 0px 8px 0px 0px;
	text-decoration: none;
	/* float: right; */
}

a[title^="Filter @"] {
	visibility: visible;
	font-size: 80%;
	color: #40be40;
}

/* Code block =========== */
.node-inline-code {
	color: #ea80ea;
	background-color: #3e667455 !important;
}

/* internal links pills =========== */
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-inline-item,
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-inline-code,
.is-mediumFont .Node-self.is-heading2 .Node-contentContainer .node-multiline-code {
	font-size: 0.75em;
	line-height: 11px;
	font-weight: normal;
}
/* internal links inline */
.node-inline-item {
	border: 0px solid #47b4de;
	color: #4ee67d;	
}
.is-whitney .node-inline-item, .is-whitney .node-inline-code {
    margin-top: -2px;
}
.is-mediumFont .Node-contentContainer .node-inline-item {
	font-size: 1em;
	line-height: 13px;
	background-color: rgba(0,0,0,0);
}
.is-mediumFont .Node-noteContainer .node-inline-item {
	font-size: 0.6em;
	line-height: 12px;
}
/* code in note */
.is-mediumFont .Node-noteContainer .node-inline-code {
	font-size: 0.9em;
	line-height: 12px;
}
/* code block in note */
.is-mediumFont .Node-noteContainer .node-multiline-code {
	font-size: 0.9em;
	line-height: 18px;
}
/* code inline */
.is-mediumFont .Node-contentContainer .node-inline-code {
	font-size: 0.9em;
	line-height: 1.5em;
	padding-top: 0px;
	margin: 1px;
}
/* HEADERS H1, H2, H3 =========== */
.is-heading1 .node-line {
	color: #fbfbfb;
	font-size: 20px;
}
.is-heading2 .node-line {
	color: #69aed9;
	font-size: 16px;
}
.is-heading3 .node-line {
	color: #ccc;
	font-size: 16px;
}
/* == node backlink counter ====*/
.node-backlink-counter {
	background-color: #32a656;
	color: #f1f1f1;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 8px;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	margin-left: -18px;
	margin-top: 4px;
	text-align: center;
	width: 14px;
	position: relative;
}
/*=== zoom icons ====*/
.node-icon {
	color: #d2d2d2;
}
/*=== backlinks pane/ item is refd in ====*/	
.is-mediumFont .Node-contentContainer {
    font-size: 14px;
}	
.u-use-pref-font {
    font-family: Cairo;
}
.is-mediumFont .node-line {
    line-height: 31px;
}
/*===========================*/
/*=========UI============*/
.AppHeader {
	color: #a7a7a7;
	background-color: #000;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.8);
	height: 7px;
	line-height: 7px;
}
.is-desktop .AppHeader {
    height: 21px;
}
.header-sync-state {
    font-size: 12px;
}	
.AppHeader-notifications {
    font-size: 14px;
    right: 61px;
    top: 4px;
    padding: 3px 4px;
}
.AppHeader-settings {
    font-size: 14px;
    padding: 3px 4px;
    top: 4px;
    right: 33px;
}
.AppHeader-mainMenu {
    font-size: 15px;
    padding: 3px;
    right: 8px;
    top: 3px;
}
.MobileHeader-mainMenuIcon,
.MobileHeader-backIcon,
.MobileHeader-option {
	font-family: "IcoMoon", sans-serif;
	font-size: 12px;
	height: 10px;
	padding: 13px;
	position: absolute;
	top: 0;
}
.MobileHeader-option > svg {
	width:12px;
	height:12px;
	margin-top: -2px;
}
/*====== left sidebar ====================*/
	
/*=== tabs icons ===*/
.is-desktop .LeftPaneContainer-nav {
    position: absolute;
    padding-top: 0px;
    left: 6px;
    width: 28px;
	background: #000;
	box-shadow: inset 0 0 1px 0px #000;
}
.is-desktop .LeftPaneContainer-nav {
    position: absolute;
    padding-top: 0px;
    left: 0px;
    width: 28px;
    background: #000;
    box-shadow: inset 0 0 1px 0px #000;
}
.is-desktop .LeftPaneContainer-navItem {
    font: 13px/19px "Whitney", sans-serif;
    width: 30px;
    text-align: center;
    cursor: pointer;
    padding: 2px 1px 8px 0px;
    position: relative;
    margin-bottom: 4px;
}
/*=== sidebar size ===*/
.is-desktop .LeftPaneContainer-panes {
    position: absolute;
    top: -1px;
    right: 0px;
	left:32px;
    width: calc(100% - 32px);
    height: 100%;
}	
.Pane-content {
    height: calc(100% - 41px);
}
/*=== sidebar header ===*/
.is-desktop .Pane-header, .is-desktop .popup-message-banner {
    color: var(--text-accent);
    background: var(--bg-color);
	font-weight: bolder;
}

.is-desktop .LeftPaneContainer, .is-desktop .Pane {
    background-color: var(--bg-color);
}
	/*----------tab hover----*/	
.is-desktop .LeftPaneContainer-navItem:hover {
    background: #2188b4;
}	
	/*----------tab active----*/	
.is-desktop .LeftPaneContainer-navItem.is-active {
    background: var(--bg-color);
	color: var(--isactive);
}	
.is-desktop .LeftPaneContainer-navItem {
    background: #000;
    color: #cacaca;
}
	
/*-- leftsidebar splitter --*/
.is-desktop .LeftPaneSlidebarContainer {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	border-right: 7px solid black;
}
.LeftPaneSplitter::after {
	content: '';
	width: 0px;
	height: 100%;
	position: absolute;
	left: 3px;
	visibility: hidden;
	border-right: 0px;
}
/*====== header ======*/
.CopyDocumentButton {
    position: absolute;
    left: 15px;
    bottom: 1px;
}
.ReturnToOwnDynalist {
    position: absolute;
    bottom: 2px;
    padding: 3px 10px 0 10px;
    right: 40px;
    text-decoration: none;
}
.AnonymousSignupCallToAction-signupButton, .ReturnToOwnDynalist, .CopyDocumentButton {
    display: inline-block;
    font-size: 10px;
    height: 16px;
    line-height: 9px;
}
.header-sync-state.mod-syncing {
    background-image: url('../img/app/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    position: relative;
    top: 8px;
    height: 29px;
    width: 40px;
}
/*====== context menu ======*/
.ContextMenu {
	color: #d3d3d3;
	background: #181818;
	border: 1px solid #294248;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.MenuGroup + .MenuGroup {
	border-top: 1px solid #22353c;
}
.MenuGroup {
    font-size: 10px;
}
.MenuItem {
    position: relative;
    padding: 2px 10px 8px 6px;
}
.MenuItem-hotkey {
	color: #38c685;
    float: right;
    font-size: 11px;
    padding: 2px 0px 2px 20px;
    font-family: consolas, -apple-system, BlinkMacSystemFont, monospace;
	margin-top: 2px;
}
.MenuItem.MenuItem--noIcon {
    padding-left: 20px;
}
/* === backlinks pane ====== */
.document-backlinks-container {
	background-color: #222728;
	border-top: 2px solid #8782e2;
}
.Document-bottomSpace {
	min-height: 30px;
}
.search-ui-summary {
	margin: 8px 0;
	margin-bottom: 10px;
	font-size: 14px;
	color: #9f82e2;
}
/*===== status bar ===== */
.status-bar {
    bottom: -11px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    left: 0;
    line-height: 16px;
    max-height: 20px;
    padding: 0px 40px;
    position: absolute;
    user-select: none;
    width: 100%;
    z-index: 2;
	background-color: #000;
	border-top: 0px solid #444;
	color: #a7a7a7;
}
/*===== node hover cons menu left ===== */
.node-hover {
    float: left;
    width: 85px;
	/*right:20px;*/
    text-align: right;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}	
.Node-self:hover .node-menu-icons-container {
    display: inline-block;
}
.node-icon {
    font-family: "IcoMoon", sans-serif;
    cursor: default;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    vertical-align: middle;
}
.node-menu-icons-container {
    display: none;
    font-size: 15px;
    vertical-align: middle;
}
/*===== search popup ===== */	
.is-desktop .full-screen-prompt-input {
    font-size: 14px;
}
.finder-result {
    cursor: pointer;
    min-height: 16px;
    padding: 0px 10px;
}
.finder-results, .finder-empty-state {
    font-size: 16px;
    width: 100%;
    margin: 0;
}
/*===== search page ====== */
.search-ui-container, .search-ui-document-title-icon, .search-ui-document-title {
    background-color: var(--bg-color);
}
.flat-search-breadcrumb {
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.flat-search-breadcrumb-item, .flat-search-breadcrumb-delimiter {
    color: var(--text-muted);
	font-size: 12px;
}
.is-mediumFont .node-line {
    line-height: 26px;
}
}
